@using DotNetify.Routing
@model ViewModels.WebStore.BookCategoryVM

<div data-vm="BookCategoryVM" @Html.Raw(Model != null ? Model.InitArgs(ViewData["Routing"]) : null)>
   <div class="page-header">
      <h2 data-bind="text: CategoryName">@(Model != null ? Model.CategoryName : "")</h2>
   </div>
   <div>
      @if (Model != null)
      {
         <div class="row">
            @for(int i = 0; i < Model.Books.Count; i++ )
            {
               var book = Model.Books[i];
               <div class="book col-md-3" data-bind="with: Books()[@i]">
                  <center>
                     <a data-bind="vmRoute: Route"><img class="thumbnail" src="@book.ImageUrl" /></a>
                     <strong>@book.Title</strong>
                     <div>by <span>@book.Author</span></div>
                     <br />
                  </center>
               </div>
            }
         </div>
      }
      else
      {
         <div class="row" data-bind="foreach: Books">
            <div class="book col-md-3">
               <center>
                  <a data-bind="vmRoute: Route"><img class="thumbnail" data-bind="attr: {src: ImageUrl}" /></a>
                  <strong data-bind="text: Title"></strong>
                  <div>by <span data-bind="text: Author"></span></div>
                  <br />
               </center>
            </div>
         </div>
      }
      <br />
   </div>
</div>