@page "/form"

<VMContext ref="@vm" VM="CustomerForm" OnStateChanged=@((object e) => { state = e; StateHasChanged(); }) OnElementEvent="@HandleElementEvent">
    @if (state == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <d-panel>
            <d-data-grid id="Contacts"></d-data-grid>
            <d-form id="_form" plaintext="@NotEdit">
                <d-panel>
                    <d-panel horizontal="true">
                        <d-panel horizontal="true">
                            <d-button id="_edit" label="Edit" enable="@NotEdit"></d-button>
                            <d-button id="Submit" label="Update" submit="true" show="@Edit"></d-button>
                            <d-button id="_cancel" label="Cancel" cancel="true" secondary="true" show="@Edit"></d-button>
                        </d-panel>
                        <d-panel right="true">
                            <d-button id="_new" label="New Customer" enable="@NotEdit"></d-button>
                        </d-panel>
                    </d-panel>
                    <d-tab margin="1.5rem 0">
                        <d-tab-item itemkey="basic" label="Basic Info">
                            <d-panel horizontal="true" nogap="true">
                                <d-panel horizontal="true">
                                    <d-cell header="Person" flex="true">
                                        <PersonForm />
                                    </d-cell>
                                    <d-cell header="Phone" flex="1" borders="top, right, bottom">
                                        <PhoneForm />
                                    </d-cell>
                                </d-panel>
                            </d-panel>
                        </d-tab-item>
                        <d-tab-item itemkey="address" label="Address">
                            <d-panel>
                                <d-cell header="Primary Address">
                                    <AddressForm />
                                </d-cell>
                            </d-panel>
                        </d-tab-item>
                    </d-tab>
                </d-panel>
                <NewFormDialog Show="@showDialog" OnClosed="@ToggleDialog"></NewFormDialog>
            </d-form>
        </d-panel>
    }
</VMContext>

@functions {
    object state;
    VMContext<object> vm;
    bool editMode = false;
    bool showDialog = false;

    string Edit => editMode.ToString().ToLower();
    string NotEdit => (!editMode).ToString().ToLower();

    void HandleStateChanged(object e)
    {

    }

    void HandleElementEvent(ElementEvent elementEvent)
    {
        if (elementEvent.TargetId == "_edit" || elementEvent.TargetId == "Submit" || elementEvent.TargetId == "_cancel")
        {
            ToggleEdit();
        }
        else if (elementEvent.TargetId == "_new")
        {
            ToggleDialog();
        }
    }

    void ToggleEdit()
    {
        editMode = !editMode;
        StateHasChanged();
    }

    void ToggleDialog()
    {
        showDialog = !showDialog;
        StateHasChanged();
    }
}